.card-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem 1rem 2rem;
    font-weight: 800;
    border-radius: 10px;
}
.button-transparent {
    position: absolute;
    padding: 0 20px;
    border: 3px solid #918c92;
    border-radius: 5px;
    background-color: transparent;
    scale: .6;
}
.b-left {
    bottom: 5px;
    right: 10px;
}
.b-right {
    bottom: 5px;
    right: 50px;
}